.button {
	background: $orange;	
	border: none;
	box-shadow: 1px 2px 8px $dark-grey;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size-large;
	font-weight: 300;
	line-height: 1;
	padding: $s-size;
	text-decoration: none;
}

.button--link {
	background: none;
	box-shadow: none;
	color: $dark-grey;
	font-weight: bold;
}

.button--secondary {
	background: #888;
}

.button--logout {
	margin-top: 4rem;
	position: relative;
}