.ice-cream-logo {
	position: relative;
	bottom: 2rem;
	left: 4rem;
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(8px 8px 7px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(8px 8px 7px rgba(0, 0, 0, 0.5));
	transform: rotateZ(-23deg);
	transition: 0.3s;
	text-shadow: 0 0 9px black;
	width: 15rem;

	&:hover {
		transform: rotateZ(0deg);
	}
}
