.list-header {
	background: $orange;
	// border: 1px solid darken($off-white, 7%);
	color: white;
	display: flex;
	font-family: $font-cursive;
	font-size: $l-size;
	justify-content: space-between;
	padding: $s-size $m-size;
	text-shadow: 0 0 1px black;
	box-shadow: 2px 5px 12px $grey;
}

.list-body {
	margin-bottom: $m-size;
	@media (min-width: $desktop-breakpoint) {
		margin-bottom: $l-size;
	}
}

.list-item {
	// border: 1px solid darken($off-white, 7%);
	// border-top: none;
	color: $dark-grey;
	display: flex;
	flex-direction: column;
	margin: $m-size 0;
	padding: $s-size;
	text-decoration: none;
	transition: 0.3s ease;
	box-shadow: 2px 5px 12px $grey;
	&:hover {
		background: $khaki;
	}
	@media (min-width: $desktop-breakpoint) {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		padding: $m-size;

		&:hover {
			padding: $l-size $m-size;
		}
	}
}

.list-item--message {
	align-items: center;
	color: $grey;
	justify-content: center;
	padding: $m-size;
	&:hover {
		background: none;
	}
}

.list-item__title {
	margin: 0;
	word-break: break-all;
}

.list-item__sub-title {
	color: $grey;
	font-size: $font-size-small;
}

.list-item__data {
	margin: $s-size 0 0 0;
	@media (min-width: $desktop-breakpoint) {
		margin: 0;
		padding-left: $s-size;
	}
}

.list-item__data-rating {
	align-content: center;
	background: $orange;
	border-radius: 98%;
	color: white;
	display: flex;
	justify-content: center;
	text-shadow: 0 0 1px black;
}
