.nav {
	align-items: center;
	background: $khaki;
	border-right: 3px solid $dark-grey;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: flex-start;
	left: 0;
	padding: 0 $s-size;
	position: fixed;
	top: 0;
	transition: 0.4s ease-in-out;
	width: 100vw;
	z-index: 1000;

	&.open {
		left: 0;
	}

	&.closed {
		left: -100vw;
	}

	@media (min-width: $desktop-breakpoint) {
		top: 10rem;
		width: 30rem;
		box-shadow: 2px 0 13px #888;

		&.closed {
			left: -30rem;
		}
	}
}

.nav-close {
	font-size: 2.3rem;
	font-weight: bold;
	padding: 4px;
	text-align: right;
	width: 100%;

	&:hover {
		cursor: pointer;
	}
}

.nav__or-tag {
	color: $dark-grey;
	font-family: $font-display;
	font-size: 6rem;
	margin: 0;
	text-align: center;
}
