// **************This file is used to define the theme scss variables************
// Colors
$dark-grey: #3F3F37;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

$orange: #fb3640;
$blue-green: #0F8B8D;
$khaki: #F4ECE1;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Font Styles
$font-display: 'Ewert', cursive;
$font-cursive: 'Leckerli One', cursive;
$font-normal: 'Lato', sans-serif;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
